@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Noto+Serif+JP:wght@200&family=Reggae+One&family=Yuji+Syuku&display=swap');
html{
    writing-mode: vertical-rl;
    text-indent: 0;
    font-family: 'Noto Serif JP', serif;
    font-size: 24px;
    line-height: 42px;
    text-align: justify;
}

h2{
    font-family: 'Yuji Syuku', serif;
    font-feature-settings: "palt";
}

